<h1>My Issues</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.name, issue_pages_path(issue) %></td>
        <td><%= link_to 'Remove', issue_path(issue), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <%= link_to new_issue_path, class: "pure-button pure-button-primary" do  %>
    <%= fa_icon "plus" %> Add Issue
  <% end %>
<% end %>