<section class="page_actions">
  <%= link_to issue_page_path(@issue, @page), method: :delete, confirm: 'Do you want to remove this page?', class: 'button' do %>
    <i class="icon-remove icon-large"></i> Remove this page
  <% end %>
</section>

<section class="editor_canvas">

  <article class="page">

  <%= form_for [@issue, @page], remote: true do |f| %>
    <%= f.text_area :body, class: 'editor', resize: 'none' %>
  <% end %>

  </article>

</section>

<script type="text/javascript">
$(document).ready(function() {
  $('textarea#page_body').typeWatch({
    callback: function(value) {
      $(this.form).trigger('submit.rails');
    },
    captureLength: 0,
    highlight: false
  })
})
</script>