/*
 *= require font-awesome
 *= require normalize-rails
 *= require_self
 */

@import "bourbon";
@import "neat";

body {
  font-family: 'Helvetica Neue';
}

.header_wrapper {
  background-color: #222;
  padding: 20px 0;
}

.container {
  @include outer-container;
}

header {
  h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
  }
}

section.introduction {
  margin-top: 20px;
  h1 {
    text-align: center;
  }
}