// Place all the styles related to the kiosk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.kiosk {
  .issue_container {
    width: 100%;
    margin: auto;
    @include clearfix;
  }
  header {
    padding: 0 20px;
    h1 {
      @include inline-block;
    }
    .manage_issues {
      margin: 20px 0;
      float: right;
    }
  }
  .header_wrapper {
    border-bottom: 1px solid #ddd;
  }
  .issue_row {
    padding: 20px 0;
  }
  .issue_row:nth-child(even) {
    @include linear-gradient(#fffcfb, #faf3f3)
  }
  .issue_row:nth-child(odd) {
    @include linear-gradient(#f6f7ff, #f4e6fd)
  }
  a.issue {
    width: 25%;
    color: #000;
    @include inline-block;
    text-decoration: none;
    .cover {
      width: 100px;
      height: 125px;
      background-size: cover;
      margin: auto;
      background-color: #fff;
    }
    float: left;
    vertical-align: top;
    h1 {
      font-size: 14px;
      text-align: center;
    }
  }
}