/*
 *= require font-awesome
 *= require normalize-rails
 *= require_self
 */

@import 'bourbon';
@import 'neat';

@import "shared/issue_style";
@import "shared/buttons";

body.page_editor {
  background-color: #f5f5f5;

  margin-left: 150px;

  section.page_index {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #444;
    width: 150px;

    a.page {
      @include box-shadow(#000 0 1px 2px);
      margin: 20px;
      background-color: #fff;
      height: 150px;
      text-align: center;
      font-size: 30px;
      display: block;
      line-height: 150px;
      text-decoration: none;
      color: #000;
      &:hover {
        background-color: #f0f0f0;
      }
    }

    a.new.page {
      border-radius: 3px;
      border: 1px dashed #aaa;
      background: none;
      @include box-shadow(none);
      color: #aaa;
      &:hover {
        background-color: #555;
      }
    }

  }

  section.page_actions {
    width: 768px;
    margin: auto;
    margin-top: 20px;

    a.button {
      @include button(#d00);
      font-weight: bold;
      color: #fff;
    }
  }

  .editor_canvas {
    border: 1px solid #ccc;
    width: 768px;
    margin: 30px auto;
    min-height: 1024px;
    position: relative;
    @include box-shadow(#ccc 0 0 10px);

    .editor {
      padding: 30px;
      position: absolute;
      width: 100%;
      left: 0;
      line-height: 1.4;
      right: 0;
      top: 0;
      bottom: 0;
      border: 0;
      outline: none;
    }
  }

}